@tailwind base;
@tailwind components;
@tailwind utilities;

.activeComp {
    @apply border-b-neutral border-b-4 rounded-sm text-neutral;
}

.timer-div {
    @apply rounded-md p-2 border-[1px] shadow-md shadow-neutral h-20;
}

.working-div {
    @apply flex flex-col w-2/3 p-4 rounded-md shadow-md shadow-neutral;
}

.controls-div {
    @apply rounded-md p-2 border-[1px] shadow-md shadow-neutral h-[1/3];
}

.timer-btn {
    @apply daisyui-btn daisyui-btn-circle;
}

.user-input {
    @apply rounded-md border-[1px] w-[90%] py-2 px-4 outline-none
    disabled:border-gray-500 border-green-500;
}